* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 20px;
}

h1.title{
    text-align: center!important;
  }

ul.links{
  padding:0;
  text-align: center;
}

ul.links li{
  display: inline-block;
  margin-right: 1rem;
  font-weight: 800;
}

ul.links li:last-child{
  margin-right: 0!important;
}

img {
  width: 100%;
}